<div id="<%= dom_id projet %>">
  <div class="container">

    <div class="border bg-white rounded-md">
      <div class="my-2">
      <span class="text-sm text-primary p-2"><%= projet.start_date %></span>
      </div>
        <div class="font-semibold"> <p class="text-xl p-2"><%= projet.title %> </p></div>
        <div class="bg-white border-1 rounded-md m-2 p-2"> <p><%= projet.content %>  </p></div>
    </div>

<!-- 
    <p>
      <strong>Amount:</strong>
      <%#= projet.amount %>
    </p>
    <strong>Status:</strong>
    <span class="font-bold"> <%#= projet.status %>  </span> d'approbation
    <p>
      <strong>Auteur:</strong>
      <%#= projet.user.full_name %>
    </p>
-->

  </div>
</div>
