<h1>Modifier project</h1>
<div class="container">
  <%= render "form", projet: @projet %>
</div>

<br>

<div>
  <%= link_to "Afficher le project", @projet %> |
  <%= link_to "Liste des projects", projets_path %>
</div>
