<!-- component -->
<div class="pb-16" style="font-family: 'Lato', sans-serif">
            <!-- Code block starts -->
            <dh-component>
                <section class="max-w-8xl mx-auto container bg-white pt-16">
                    <div>
                        <div role="contentinfo" class="flex items-center flex-col px-4">
                            <p tabindex="0" class="focus:outline-none uppercase text-sm text-center text-gray-600 leading-4">Agisons Ensemble</p>
                            <hh1 tabindex="0" class="focus:outline-none text-4xl lg:text-4xl font-extrabold text-center leading-10 text-gray-800 lg:w-5/12 md:w-9/12 pt-4">Ensemble nous pouvons avoir plus d'impact positif sur le monde</hh1>
                        </div>
                        <div tabindex="0" aria-label="group of cards" class="focus:outline-none mt-20 flex flex-wrap justify-center gap-10 px-4">
                            <div tabindex="0" aria-label="card 1" class="focus:outline-none bg-gray-100 flex sm:w-full md:w-5/12 pb-20">
                                <div class="w-20 h-20 relative mr-5">
                                    <div class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"></div>
                                    <div class="absolute text-white bottom-0 left-0 bg-indigo-700 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG1.svg" alt="drawer">
                                    </div>
                                </div>
                                <div class="w-10/12 ">
                                    <h2 tabindex="0" class="focus:outline-none text-lg font-bold leading-tight text-gray-800">Partenaire avec nous</h2>
                                    <p tabindex="0" class="focus:outline-none text-base text-gray-600 leading-normal pt-2">
                                    Nous travaillons en étroite collaboration avec les Brand Partners pour développer des campagnes de collecte de fonds mutuellement bénéfiques,
                                     des produits comarqués, des médias et des expériences qui ont un impact incroyable sur le monde.</p>
                                    <%= link_to 'Ecrvez nous un mail', root_path , class:"" %>
                                </div>
                            </div>
                            <div tabindex="0" aria-label="card 2" class=" bg-gray-100 focus:outline-none flex sm:w-full md:w-5/12 pb-20">
                                <div class="w-20 h-20 relative mr-5">
                                    <div class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"></div>
                                    <div class="absolute text-white bottom-0 left-0 bg-indigo-700 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG2.svg" alt="check">
                                    </div>
                                </div>
                                <div class="w-10/12">
                                    <h2 tabindex="0" class="focus:outline-none text-lg font-semibold leading-tight text-gray-800">Parrainer un projet</h2>
                                    <p tabindex="0" class="focus:outline-none text-base text-gray-600 leading-normal pt-2">
                                    Les coûts de nos projets d'eau varient en fonction du type de projet, de la géographie et
                                     des économies locales. En moyenne, les projets commencent à 10 000 $ et peuvent coûter 25
                                      000 $ ou plus. Une fois que vous aurez fait votre don, nous l'associerons à un projet 
                                      (ou des projets) approprié(s).</p>
                                    <%= link_to 'APPRENDRE ENCORE PLUS', root_path , class:"" %>
                                </div>
                            </div>
                            <div tabindex="0" aria-label="card 3" class=" bg-gray-100 focus:outline-none flex sm:w-full md:w-5/12 pb-20">
                                <div class="w-20 h-20 relative mr-5">
                                    <div class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"></div>
                                    <div class="absolute text-white bottom-0 left-0 bg-indigo-700 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG3.svg" alt="html tag">
                                    </div>
                                </div>
                                <div class="w-10/12">
                                    <h2 tabindex="0" class="focus:outline-none text-lg font-semibold leading-tight text-gray-800">Coded by Developers for Developers</h2>
                                    <p tabindex="0" class="focus:outline-none text-base text-gray-600 leading-normal pt-2">Instead of just giving you the tools to create your own site, they offer you a list of themes you can choose from. Thus a handy product.</p>
                                </div>
                            </div>
                            <div tabindex="0" aria-label="card 4" class=" bg-gray-100 focus:outline-none flex sm:w-full md:w-5/12 pb-20">
                                <div class="w-20 h-20 relative mr-5">
                                    <div class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"></div>
                                    <div class="absolute text-white bottom-0 left-0 bg-indigo-700 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG4.svg" alt="monitor">
                                    </div>
                                </div>
                                <div class="w-10/12">
                                    <h2 tabindex="0" class="focus:outline-none text-lg font-semibold leading-tight text-gray-800">The Last UI kit you’ll ever need</h2>
                                    <p tabindex="0" class="focus:outline-none text-base text-gray-600 leading-normal pt-2">We have chosen the bright color palettes that arouse the only positive emotions. The kit that simply assures to be loved by everyone.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </dh-component>
            <!-- Code block ends -->
  <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
        </div>