<div class="container">
  <div class="m-4">
    <h1 class="text-gray-800 font-bold text-2xl mb-2">Vous et Action<sup>+</sup> Agisons Ensemble pour sauver des vies</h1>
    <p class="text-sm font-normal text-gray-600 mb-2">Devenez Membre Adherent d'Action<sup>+</sup></p>

    <%= render "form", bemembership: @bemembership %>
  </div>
</div>
