<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8 ">
          <h1 class=""><span class="bg-blue-400 px-2  rounded-b-xl rounded-tr-xl">Apportons le bien-etre</span> </h1>
          
          <h2>La crise de l'eau, l'éducation et l'élèctricité sont massives. <br> Ensemble, nous pouvons les résoudres.</h2>
            <h2 class="font-bold">Rejoignez Action<sup>+</sup></h2>
          <div class="btns">
            <%#= link_to 'Soutenir Un Projet', "action-projet", class:"btn-menu animated fadeInUp scrollto" %>
            <a href="#projets-soutenir" class="btn-book animated fadeInUp 
            scrollto text-white bg-red-500 hover:bg-red-400 focus:outline
             focus:ring-4 focus:ring-red-300 font-medium rounded-full text-md px-5
              py-2.5 text-center mr-2 mb-2">Soutenir Un Projet</a>
            <%= link_to "Faire un Don", "action-projet", class:"btn-book  animated fadeInUp scrollto border-lg
            text-white bg-red-500 hover:bg-red-400 focus:outline focus:ring-4 focus:ring-red-300 font-medium
             rounded-full text-md px-5 py-2.5 text-center mr-2 mb-2" %>
          </div>
        </div>
        

      </div>
    </div>
  </section><!-- End Hero -->