<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
     <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section Header</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section Fondateur</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section Nous Aider</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section Sur Terrain</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section Projet</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section Actualité</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section Benevole</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section Projet</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
     <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section 9</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section 10</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section </h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section Footer </h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>